<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
		<title>Burger Bistro</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burgers.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {{!-- Google Fonts --}}
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Sarabun:400i&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
</head>
<body>
    {{{ body }}}
</body>
</html>